.good_component{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* flex-basis: 25%; */
}

.Logged-Home-Whole-Component{
    animation: fadeIn 1s ease-in-out; 
    }
    
   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
