.topbar {
  background-color: black;
  max-height: 15rem;
  display: flex;
  align-items: center; /* Added for vertical centering */
  position: relative;
  width: 100%; /* Removed fixed width */
}

.topbar_heading {
  color: #fff;
  text-align: left;
  padding: 0rem 0rem 0rem 2rem;
}

.buttons {
  margin-left: 60rem;
  display: flex;
  gap: 2rem;
}

.logout_button {
  border-radius: 0.5rem;
  height: 2.25rem;
  /* text-align: right; */
  font-weight: bolder;
  cursor: pointer;
  border: transparent;
}

.logout_button:hover {
  background-color: black;
  color: #fff;
  border: 0.05rem solid #fff;
  transition: 0.5s;
}

.cart {
  border-radius: 0.5rem;
  height: 2.25rem;
  /* text-align: right; */
  font-weight: bolder;
  cursor: pointer;
  border: transparent;
  font-size: 2rem;
}

.cart:hover {
  background-color: black;
  color: #fff;
  border: 0.05rem solid #fff;
  transition: 0.5s;
}

.logout-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confirmation-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  width: 30vw;
  text-align: center;
}

.confirmation-box p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.confirmation-box button {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.05rem solid black;
  padding: 0.25rem;
  margin: 0 10px;
  width: 18%;
}

.confirmation-box button:hover {
  color: #fff;
  background-color: black;
  border: 0.05rem solid #fff;
  transition: 0.5s;
}
